body{
  background-image: url("rainbow slash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#main{
  display: flex;
}
#Gab {
  position: relative;
  left: 65%;
  display: flex;
  background-color: rgba(200,200,200,0.9);
  font-size: 30px;
  height: 800px;
  width: 35%;
  border-radius: 20px;
  text-align: center;
  line-height: 0px;
  align-items: right;
}
#desc {
  position: relative;
  right: 6.5%;
  display: flex;
  background-color: rgba(200,200,200,0.9);
  height: 790px;
  width: 33%;
  border-radius: 20px;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 1%;
  padding-right: 1%;
}
.gab{
  margin: auto;
}
#lmao{
  background-color: rgb(255, 0, 0);
  margin: auto;
  width: 100%;
  height: 300px;
  font-size: 30px;
  font-family: courier;
  font-weight: bold;
  letter-spacing: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
#Dan{
  text-align: center;
  font-weight: bold;
  background-color: #EB917E;
  font-size: 30px;
  width: 100%;
  color: #901E16;


}

.Button1 {
  background-color: #F3BEBB;
  color: red;
  font-size: 25px;
}

.login {
  border: 5px solid black;
  text-align: center;
  background-color: aqua;
  width: 26%;
  border-radius: 20px;
  position: fixed;
  left: 10px;
  bottom: 10px;
}
