#Gab {
    height: 350px;
    width: 200px;
    text-align: center;
    line-height:0px;
}
#lmao{
  background-color: rgb(255, 0, 0);
  width: 1900px;
  height: 300px;
  font-size: 30px;
  font-family: courier;
  font-weight: bold;
  letter-spacing: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.Dan{
  text-align: center;
  font-weight: bold;
  background-color: #EB917E;
  font-size: 30px;
  color: #901E16
;
}

.Button1 {
  background-color: #F3BEBB;
  color: red;
  font-size: 25px;
}
