body{
  background-image: url("rainbow slash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}
#main{
  display: flex;
}
#Gab {
  display: flex;
  margin: auto;
  background-color: rgba(200,200,200,0.5);
  font-size: 25px;
  height: 800px;
  width: 60%;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  line-height:0px;
}
.gab{
  margin: auto;
}
#lmao{
  background-color: rgb(255, 0, 0);
  width: 100%;
  height: 300px;
  font-size: 30px;
  font-family: courier;
  font-weight: bold;
  letter-spacing: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
#Dan{
  text-align: center;
  font-weight: bold;
  background-color: #EB917E;
  font-size: 30px;
  width: 100%;
  color: #901E16;
  margin: 0px;
  padding: 0px;


}

.Button1 {
  background-color: #F3BEBB;
  color: red;
  font-size: 25px;
}

.login {
  border: 5px solid black;
  text-align: center;
  background-color: aqua;
  width: 500px;
  border-radius: 20px;
  position: fixed;
  left: 10px;
  bottom: 10px;
}
